/***** Box Model Hack****/
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

section{
    display: flex;
    justify-content: center;
}
.calc-body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 28%;
    height: 600px;
    border: 1px solid black;
    border-radius: 10%;
}

.display{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 90px;
    margin-top: 60px;
    border: 1px solid black;
}

.button-body{
    margin-top: 100px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}

.button-body > div{
    padding: 5px;
}

.button-body > div > div{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.button-body p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
